process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '125 GB'
    clusterOptions = '--account=warrenlab'
    cpus = 13
    container = 'docker://quay.io/comparative-genomics-toolkit/cactus:v2.4.2'

    withName: 'CACTUS_GRAPHMAP_JOIN' {
        publishDir = [ path: 'out/', mode: 'copy' ]
    }
}

singularity {
    enabled = true
    runOptions = "--bind /storage"
}
